{% extends './base.html' %}

{% block title %}Decorumbas{% endblock %}

{% block customJS %}

<script src="/static/js/api.js" async></script>
<script src="/static/js/app.js" async></script>


{% endblock %}

{% block body %}

<main class="contenido">
    <div class="container-item">

        <form action="/actualizar_producto" method="POST" class="container-form">
            {% with messages = get_flashed_messages() %}

            {% if messages %}
            <br />
            {% for messages in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>{{ messages }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="column">
                <h3>Productos</h3>
                <h5>Actualizar Productos</h5>
            </div>
            <div class="contenedor-item">
                <div class="row">
                    <label for="cod" class="label-item">Código</label>
                    <input type="text" name="cod" id="cod" class="wd-20 input-item">
                    <label for="nombre" class="label-item">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="wd-100 input-item">
                </div>
                <div class="row">
                    <label for="cod" class="label-item">Precio</label>
                    <input type="text" name="precio" id="precio" class="wd-40 input-item">
                    <label for="stock" class="label-item">Stock</label>
                    <input type="text" name="stock" id="stock" class="wd-40 input-item">
                </div>
                <div class="row">
                    <label for="src" class="label-item">Imagen</label>
                    <input type="text" name="src" id="src" class="wd-100 input-item">
                </div>
                <div class="row">
                    <select name="id_categoria" id="id_marca" width="150px">
                        <option value="1" selected>Valor 1</option>
                        
                    </select>
                    <select name="marca" id="marca">
                        <option value="1" selected>Valor 1</option>
                        <!-- <option value=""></option> -->
                    </select>
                    <select name="tamanio" id="marca">
                        <option value="1" selected>Valor 1</option>
                        <!-- <option value=""></option> -->
                    </select>
                    
                </div>
                <textarea name="descripcion" id="descripcion" cols="30" rows="10" class="wd-100">Descripcion</textarea>

                <button type="submit" class="wd-100 hg-30">Buscar Producto</button>
            </div>
        </form>

    </div>
</main>
{% endblock %}